.advantages-image-sect {
  margin-bottom: -270px;
}
.main-advantages {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.advantages-image {
  margin-top: 20px;

  width: 100%;
  object-fit: contain;
  object-position: center;
  @media(max-width: 767px){
    margin-top: 10px;
  }
}