.footer {
  padding-top: 40px;

  position: relative;
  z-index: 1;
  @media(max-width: 575px){
    padding-top: 0;
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 91px;
  //   left: -20px;
  //   background-color: #1369bc;
  //   width:calc(100% + 50px);
  //   height: 50px;
  //   transform: rotate(-8deg);
  // }
  .container {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    @media(max-width: 575px){
      column-gap: 0;
    }
  }

  &__left {
    grid-column: 6 span;
    @media(max-width: 575px){
      grid-column: 12 span;
    }
  }

  &__right {
    grid-column: 6 span;
    @media(max-width: 575px){
      grid-column: 12 span;
      margin-top: 30px;
    }
  }

  &__item {
    margin-bottom: 10px;

    img {
      object-fit: contain;
      width: 22px;
    }

    p {
      // font-size: 13px;
      // line-height: 18px;
      color: #fff;
    }
  }
}

.footer-top {
  position: relative;
}

.footer-bottom {
  padding-right: 25px;

  @media(max-width: 767px) {
    flex-direction: column;
    row-gap: 10px;
  }
}

.items-between {
  justify-content: space-between;
}

.footer-qr {
  display: flex;
  justify-content: flex-end;

  img {
    width: 200px;
    background-color: #1369bc;
    padding: 7px;
    position: absolute;
    bottom: 94px;

    @media(max-width: 767px) {
      bottom: 0px;
      width: 150px;
    }

    @media(max-width: 575px) {
      width: 100px;
      bottom: 20px;
    }
  }
}

.footerContainer {
  max-width: 1122px;
  background: url('@img/footer/footer-bg.png') no-repeat center top / cover;
  min-height: 315px;
  padding-top: 158px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footerBottom{
  margin-top: -74px;
  .footerContainer {
    @media(max-width: 575px){
      padding-top: 204px;
    }
  }
}