.main-map {
  background-image: url('@img/sana_logo.png');
  background-position: center bottom 390px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
}