.placeTop {
  .content-col {
    &:nth-child(1){
      @media(max-width: 575px){
        order: 2;
      }
    }
    &:nth-child(2){

    }
  }
}
.place {
  background-image: url('@img/sana_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}