.plan {
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: -64px;

}
.main-plan {
  background-image: url('@img/sana_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
